body {
  font-family: 'Exo 2', sans-serif !important;
}
.wpt_widget_content {
  border: none !important;
}
.wpt_widget_content .tab-content li {
  border: none !important;
}
.wpt_widget_content .tab_title.selected a {
  background-color: #4a81a1 !important;
  color: white;
}
.wpt_widget_content .tab_title a {
  background-color: white !important;
  border-bottom-color: #4a81a1 !important;
}
